# This is based on the stock .gitignore for the D language, which
# includes Windows file name extensions for reasons unfathomable.

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Ignore compiled Python extensions (scripts)
*.pyc
*.pyo
